/* PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
  .address__image {
    max-width: 100%;
    margin-left: 0%;
  }
}

/* Table */
@media (max-width: 991.98px) {
  .menu-main {
    display: none;
  }
  .main-header__sub-link.dropdown-item {
    font-size: 2.6rem;
    line-height: 4.3rem;
  }
  .main-header {
    position: relative;
  }
  .main-header__nav-link {
    font-size: 3.9rem;
  }
  .logo {
    position: absolute;
    margin-left: 20.8rem;
    margin-top: 5.3rem;
    transform: translate(-50%, -50%);
    width: 35.9rem;
  }

  .menu-header__iconmenu {
    position: absolute;
    top: 5.2rem;
    left: 7.9rem;
    color: black;
    width: 5rem;
    z-index: 1050;
  }

  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.183);
    inset: 0;
    z-index: 1051;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-drawer {
    position: fixed;
    background-color: #fff;
    inset: 0 30% 0 0;
    z-index: 1052;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 40px;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  .close__menu {
    margin-top: -2.4rem;
    margin-left: -2.3rem;
    width: 6.8rem;
    color: #0b0b0b4d;
  }

  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #menu__list--mobile {
    margin-top: 17.2rem;
    margin-left: 1.2rem;
  }

  .sub-menu.dropdown-menu {
    margin-left: 50px;
    margin-top: -30px;
  }

  .sub-menu.dropdown-menu {
    left: 69% !important;
    width: fit-content;
  }
}
/* Ta */
/* Mobile*/
@media (max-width: 767.68px) {
  .menu-header__iconmenu {
    position: absolute;
    top: 5rem;
    left: 0.4rem;
    color: black;
    width: 5rem;
    z-index: 1050;
  }
  .main-header__nav-link {
    font-size: 2rem;
    line-height: 3rem;
  }
  .main-header__sub-link.dropdown-item {
    font-size: 1.2rem;
    line-height: 1rem;
  }

  .sub-menu.dropdown-menu {
    width: fit-content;
  }
  /* ================================= */
  .logo {
    position: absolute;
    margin: 3.4rem 9.6rem 0;
    transform: translate(-50%, -50%);
    width: 14.3rem;
  }
  .menu-drawer {
    padding: 1.4rem;
  }

  .close__menu {
    margin-top: -7px;
    margin-left: -1.2rem;
    width: 3.6rem;
    color: #0b0b0b;
  }
  #menu__list--mobile {
    margin-left: -1.5rem;
    margin-top: 9.3rem;
  }
}
@media (max-width: 575.68px) {
}
