/* PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
  .address__image {
    max-width: 100%;
    margin-left: 0%;
  }
}

/* Table */
@media (max-width: 991.98px) {
  .menu-main {
    display: none;
  }

  .main-header {
    position: relative;
  }

  .logo {
    position: absolute;
    margin-left: 54px;
    margin-top: -9px;
    transform: translate(-50%, -50%);
    width: 120px;
  }

  .menu-header__iconmenu {
    position: absolute;
    top: 66px;
    left: 79px;
    color: black;
    width: 50px;
    z-index: 1050;
  }

  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.183);
    inset: 0;
    z-index: 1051;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-drawer {
    position: fixed;
    background-color: #fff;
    inset: 0 70% 0 0;
    z-index: 1052;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 40px;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  .close__menu {
    margin-top: -48px;
    margin-left: 182px;
    width: 29px;
    color: #0b0b0b4d;
  }

  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #menu__list--mobile {
    margin-top: 17px;
    margin-left: -53px;
  }

  .sub-menu.dropdown-menu {
    margin-left: 50px;
    margin-top: -30px;
  }

  .sub-menu.dropdown-menu {
    left: 79% !important;
  }
}

/* Mobile*/
@media (max-width: 767.68px) {
  .menu-header__iconmenu {
    position: absolute;
    top: 61px;
    left: 4px;
    color: black;
    width: 50px;
    z-index: 1050;
  }

  .main-header__sub-link.dropdown-item {
    font-size: 0.8rem;
    line-height: 0.3rem;
  }

  .sub-menu.dropdown-menu {
    width: 10%;
  }
  /* ================================= */
  .logo {
    position: absolute;
    margin-left: 33px;
    margin-top: -4px;
    transform: translate(-50%, -50%);
    width: 47px;
  }
  .menu-drawer {
    padding: 14px;
  }

  .close__menu {
    margin-top: -34px;
    margin-left: 83px;
    width: 16px;
    color: #0b0b0b4d;
  }
  #menu__list--mobile {
    margin-left: -37px;
  }
}
